
.fira-sans-thin{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}

.header{
    margin: 20px 107px 20px 107px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #0E0E0E;
    font-size: 28px;
    font-size: 700;
}
nav ul li{
    list-style: none;
}
.text-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid #006A50;
    border-radius: 8px;
}
/* banner-styles */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 50px 65px;
}
.banner-content{
    max-width: 415px;
}
.banner-greetings{
    color:#0E0E0E80;
    font-size: 20px;
    font-weight: 500px;
}
.banner-title{
    color: #0E0E0E;
    font-size: 42px;
    font-weight: 700;
    margin-top: 16px;
}
.banner-profile-pic{
    width: 314px;
}
.btn-primary{
    background-color: #006A50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
}

/* skill section*/
#main{
    margin: 0 107px 0 107px;
   
}
.text-title{
    margin-top: 50px;
    color: #0E0E0E;
    font-size: 28px;
    font-weight: 700;
}
.skill{
    display: flex;
    gap: 20px;
}
.skills-container img{
    width: 50px;
}
.skills-container{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
    margin: 20px 0 20px 0;
}

.text-title-primary {
    margin-top: 20px;
    color: #0E0E0ECC;
    font-size: 20px;
    font-weight: 700;
}
.text-description{
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

/* future section */
.future-heading{
    color: #0E0E0E;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}
.future-description{
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}
.future-section{
    display: flex;
    gap: 20px;
}
.future{
    background-color: #5490F533;
    padding: 20px;
    border-radius: 16px;
    margin: 30px 0px 30px 0;
}
.future img{
    width: 50px;
}
.future-title{
    margin-top: 20px;
    color: #0E0E0ECC;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.future-text{
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}
.btn-bg{
    background-color: #5490F5;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box; 
    margin-top: 25px;
}
.btn-1{
    margin-top: 35px;
}
.btn-2{
    margin-top: 45px;
}